---
title: "Paintings"
layout: default
permalink: "/paintings.html"
---

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
          <h1 class="font-weight-bold title h6 text-uppercase mb-4">Painting Gallery</h1>
              
          <div class="paintings-container">
            {% assign image_files = site.static_files | where: "image", true %}
            {% for myimage in image_files %}
                <div id="selected-image-{{forloop.index}}" onclick="openLightbox(event)">
                  <img src="{{myimage.path}}" alt="">
                  <div class="lightbox-caption"><p>Your caption here</p></div>
                </div>
            {% endfor %}
          </div>

        </div>
        
        <div class="col-md-4">
          {% include sidebar-featured.html %}    
        </div>
        
    </div>
</div>